

.animate-spin-slow {
  animation: spin 8s linear infinite;
}
/* SVG fırlanma animasiyası */
.spin-container .spin-group {
  animation: spin 8s linear infinite;
  transform-origin: center;
}

/* Hover vəziyyətində animasiyanı dayandırmaq və transformasiyanı sıfırlamaq */
.spin-container.paused .spin-group {
  animation-play-state: paused;
  transform: rotate(0deg) !important; /* Fırlanmanı sıfırlayır */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}